<% include partials/header %>
<link rel="stylesheet" href="/css/landing.css"/>
<div class="ui text main container text-center">
    <h1 class="animated fadeInDown">Welcome to my blog</h1>  
    <p><a class="animated fadeInUp btn btn-primary" href="/blogs">View blogs post</a></p>
</div>
<% include partials/footer %>    